@import './vue-transitions.css';
@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  font-family: 'Roboto', sans-serif;
}


.v-overlay {
  z-index: 6 !important;
}

.pointer {
  cursor: pointer !important;
}

.not-allowed {
  cursor: not-allowed;
}

.normal-arrow {
  cursor: default;
}
